<section class="content" style="padding-top:0px">
  <div class="row pt-1">
    <div class="col-lg-4 col-xs-6">
      <div class="small-box">
        <div class="inner">
          <app-pie-chart></app-pie-chart>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xs-6">
      <div class="small-box">
        <div class="inner">
          <app-pie-contra-chart></app-pie-contra-chart>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xs-6">
      <div class="small-box">
        <div class="inner">
          <app-bar-chart></app-bar-chart>
        </div>
      </div>
    </div>
  </div>
</section>