/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
html,
body {
    background: transparent;
    height: 100vh !important;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    padding-bottom: 50px;
}

.main-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px !important;
}

.ag-row-hover {
    /* putting in !important so it overrides the theme's styling as it hovers the row also */
    background-color: #ebebeb7a !important;
}

#intGridSmall .ag-row-hover,
#extGridSmall .ag-row-hover {
    /* putting in !important so it overrides the theme's styling as it hovers the row also */
    background-color: #ebebeb7a !important;
}

#intGridSmall .ag-theme-balham .ag-row,
#extGridSmall .ag-theme-balham .ag-row {
    border-bottom: 1px solid rgb(230, 65, 24) !important;
}

.ag-theme-balham .ag-row-selected {
    background-color: white !important;
    /* font-weight: 500; */
    /* #fffdb79c !important; */
}


/* .ag-column-hover {
  background-color: #dfffdf;
} */

.ag-theme-balham .ag-row {
    border-bottom: 1px solid #BDC3C7 !important;
}

.ag-header-icon.ag-header-cell-menu-button {
    opacity: 1 !important;
}

div.ag-root .ag-cell-focus {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#intGridSmall .grid-header-1 {
    background-color: #0796e8;
    /* #b7b0aee0; */
}

#extGridSmall .grid-header-2 {
    background-color: #0796e8;
}

#intGridSmall .ag-header-container,
#intGridSmall .ag-header-row {
    background-color: #0796e8;
}

#extGridSmall .ag-header-container,
#extGridSmall .ag-header-row {
    background-color: #0796e8;
}

#mainInt .grid-header-1 {
    background-color: #168dbb;
    ;
}

#mainExt .grid-header-2 {
    background-color: #168dbb;
    ;
}

#toast-container>div {
    opacity: 1 !important;
}

.navbar-static-top {
    padding: 0px;
    height: 50px;
}

.main-header .sidebar-toggle {
    padding-bottom: 10px !important;
}

.footer-copyright {
    text-align: right !important;
    padding-right: 250px;
}

.user-header {
    padding: 14px !important;
    background-color: transparent !important;
    height: 50px;
}

.ag-theme-balham button[ref="btNext"],
.ag-theme-balham button[ref="btLast"],
.ag-theme-balham button[ref="btFirst"],
.ag-theme-balham button[ref="btPrevious"] {
    opacity: 1 !important;
}

.ag-theme-balham .ag-paging-panel {
    background-color: white !important;
    font-weight: bolder !important;
}

.ag-theme-balham .ag-header {
    color: white;
    background-color: #168dbb;
    ;
}