
/* custom stylings for modal items */
.btns-submit,
.btns-cancel {
    padding: 3px;
    font-size: 16px;
    width: 100px;
    margin-right: 10px;
    cursor: pointer;
}
.h5-title {
    background-color: lightskyblue;
    border-radius: 3px;
    font-size: 24px;
    padding: 10px;
}
.txn-date {
    display: flex;
    align-items: center;
}
.txn-date label {
    flex: 1;
    font-size: 19px;
}
.txn-calender {
    flex: 1;
    height: 31px;
}
textarea.description,
textarea.comments {
    height: 90px;
}
.comments,
.description,
.amount-label {
    font-size: 19px;
}
.action-btns {
    text-align: right;
}
.btns-yes {
    margin-right: 12px;
}
.btns-reset {
    float: left;
} 
.edit-col-1,
.edit-col-2 {
    border-bottom: 5px solid #dcdfe2;
    border-right: 5px solid #dcdfe2;
    border-left: 1px solid #e6eaef;
    border-radius: 2px;
    border-top: 1px solid #e6eaef;
    margin-bottom: 7px;
    background-color: white;
} 
.edit-col-1 p {
    font-weight: 900;
}
.edit-col-2 p {
    font-weight: 900;
} 
.edit-label {
    font-size: 19px;
}
.edit-label-1 {
    margin-right: 15px;
}
.split-dc-select {
    padding-left: 0;
}
.split-dc-label {
    padding-right: 0;
}
.split-btns {
    margin-top: 20px;
}
.split-icons {
    text-align: right;
}
.split-icons span {
    margin-right: 15px;
    cursor: pointer;
}
#splitTable {
    border-collapse: collapse;
    width: 100%;
}
  
#splitTable td, #splitTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#splitTable tr:nth-child(even){background-color: #f2f2f2;}

#splitTable tr:hover {background-color: #ddd;}

#splitTable th {
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: #168dbb;
    color: white;
}   