.loaded {
    font-size: 22px;
    font-weight: 400;
    /* color: #FF5722; */
}
mat-card
{
    box-shadow: 10px 10px 5px grey!important;
}
.mat-card-header {
    font-size: 20px;
    font-weight: 800;
}


mat-expansion-panel {
    display: contents;
    background-color: #faebe6;

   
}
mat-expansion-panel-header
{
    border: 1px solid #8c92ac;
    border-radius: 5px;
    background-color: #faebe6;
}
.custom-dialog-container .mat-dialog-container {

    overflow: hidden!important;
}

.input-group {
    margin-left: 20px;
}

.label-header {
    font-size: 100%;
    margin-right: 12px;
    font-weight: 600;
}

.spanhanding {
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
}
mat-card-title{
    font-size: large;
    font-weight: 700
}
.vl {
    /* border-left: 6px solid green;
    height: 500px; */
  }
  label{
    font-weight: 600;
    font-size: 100%;
  }
  .chart-container {
    position: relative;
}
chart-legend {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
}

.chart-legend ul li { list-style:none; }
.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 4px;
}
.brs{
    width: 780px;
    margin: auto;
}
h2{
    font-weight: 600!important;
    font-size: 100%!important;
}
html { font-size: 62.5%; }
body { font-size: 1em;}

@media (max-width: 300px) {
    html { font-size: 70%; }
    mat-panel-title{
        font-size: 20px;
        font-weight: 500;
    }
}

@media (min-width: 500px) {
    html { font-size: 80%; }
    mat-panel-title{
        font-size: 80%;
        font-weight: 500;
    }
}

@media (min-width: 700px) {
    html { font-size: 120%; }
    mat-panel-title{
        font-size: 100%;
        font-weight: 500;
    }
}

@media (min-width: 1200px) {
    html { font-size: 200%; }
    mat-panel-title{
        font-size: 100%;
        font-weight: 500;
    }
}