<form [ngClass]="{ 'd-none': !visibleSmallGrids }">
  <div class="form-div">
  <div class="row btns-row">
    <div class="col btns-row-inner">
      <button type="button" class="btn btn-sm btn-primary btns-row-unGroupContra" (click)="unGroupContra();smartModalService.getModal('confirmUnGroupContra').open()">Un-Group Contra</button>
      <button type="button" class="btn btn-sm btn-primary btns-row-reset" (click)="resetGridsSmall()">Reset</button>
    </div>
  </div>
</div>
</form>

<div class="row major-div">
  <div class="small-grids" [ngClass]="{ 'd-none': !visibleSmallGrids }">
    <div class="col-lg-12 small-grids-div-2">
      <ag-grid-angular id="extGridSmall" style="height: 160px;" class="ag-theme-balham" [rowData]="externalRowDataSmall" [columnDefs]="externalColumnDefsSmall"
        [gridOptions]="gridOptionsSmall" (gridReady)="onExternalGridReadySmall($event)">
      </ag-grid-angular>
    </div>
  </div>
  <div class="main-grids-and-control">
    <app-table-control [globalFilterInp]="''" [rowDataInp]="dataSource" [selectedStatusInp]="'Bankcontra'">
    </app-table-control>
       
    <!-- main grids -->
    <div class="row main-grids-row">
      <div class="col-lg-12 main-grids-div-2">
        <ag-grid-angular id="mainExt" style="height: 350px;" class="ag-theme-balham" [rowData]="externalRowData" [columnDefs]="externalColumnDefs"
          [gridOptions]="gridOptions" [pagination]="true" (rowSelected)="onExternalRowSelected($event)" (gridReady)="onExternalGridReady($event)">
        </ag-grid-angular>
        <span class="paging-size-control paging-size-control-ext">
          <span class="control-page-size">Page Size:</span>
          <select style="margin-left:5px;" class="control-select" (change)="changePageSizeExt($event.target.value)">
            <option value="10">10</option>
            <option value="25" selected>25</option>
            <option value="50">50</option>
          </select>
        </span>
      </div>
    </div>
  </div>
</div>