<div class="row" *ngIf="!onlyOpenRecords">
  <div class="small-grids" [ngClass]="{ 'd-none': !visibleSmallGrids }">
    <div class="col-lg-6 small-grids-div-1">
      <ag-grid-angular id="intGridSmall" style="height: 160px;" class="ag-theme-balham" [rowData]="internalRowDataSmall" [columnDefs]="internalColumnDefsSmall"
        [gridOptions]="gridOptionsSmall" (rowSelected)="onInternalRowSelectedSmall($event)" (gridReady)="onInternalGridReadySmall($event)">
      </ag-grid-angular>
    </div>
    <div class="col-lg-6 small-grids-div-2">
      <ag-grid-angular id="extGridSmall" style="height: 160px;" class="ag-theme-balham" [rowData]="externalRowDataSmall" [columnDefs]="externalColumnDefsSmall"
        [gridOptions]="gridOptionsSmall" (rowSelected)="onExternalRowSelectedSmall($event)" (gridReady)="onExternalGridReadySmall($event)">
      </ag-grid-angular>
    </div>
  </div>
  <div class="main-grids-and-control">
    <app-table-control [globalFilterInp]="globalFilter" [displayedIntData]="displayedIntData" [displayedExtData]="displayedExtData" [selectedStatusInp]="'Open'">
    </app-table-control>

    <!-- main grids -->
    <div class="row main-grids-row">
      <div class="col-lg-6 main-grids-div-1">

        <ag-grid-angular id="mainInt" style="height: 350px;" class="ag-theme-balham" [rowData]="internalRowData" [columnDefs]="internalColumnDefs"
          [gridOptions]="gridOptions" [pagination]="true" (rowSelected)="onInternalRowSelected($event)"
          (gridReady)="onInternalGridReady($event)">
        </ag-grid-angular>
        <span class="paging-size-control paging-size-control-int">
          <span class="control-page-size">Page Size:</span>
          <select style="margin-left:5px;" class="control-select" (change)="changePageSizeInt($event.target.value)">
            <option value="10">10</option>
            <option value="25" selected>25</option>
            <option value="50">50</option>
          </select>
        </span>
      </div>
      <div class="col-lg-6 main-grids-div-2">
        <ag-grid-angular id="mainExt" style="height: 350px;" class="ag-theme-balham" [rowData]="externalRowData" [columnDefs]="externalColumnDefs"
          [gridOptions]="gridOptions" [pagination]="true" (rowSelected)="onExternalRowSelected($event)"
          (gridReady)="onExternalGridReady($event)">
        </ag-grid-angular>
        <span class="paging-size-control paging-size-control-ext">
          <span class="control-page-size">Page Size:</span>
          <select style="margin-left:5px;" class="control-select" (change)="changePageSizeExt($event.target.value)">
            <option value="10">10</option>
            <option value="25" selected>25</option>
            <option value="50">50</option>
          </select>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row" *ngIf="onlyOpenRecords">
  <div class="col-lg-12">
    <ag-grid-angular style="height: 500px;" class="ag-theme-balham" [rowData]="externalRowData" [columnDefs]="externalColumnDefs"
      [gridOptions]="gridOptions" (rowSelected)="onExternalRowSelected($event)" (gridReady)="onExternalGridReady($event)">
    </ag-grid-angular>
  </div>
</div> -->