.major-div {
    width: 100%;
    margin: auto;
}
.small-grids {
    display: flex;
    width: 100%;
    margin-bottom: 20px !important;
    margin: auto;
    padding: 8px;
    border-bottom: 5px solid #dcdfe2;
    border-right: 5px solid #dcdfe2;
    border-left: 1px solid #e6eaef;
    border-radius: 2px;
    border-top: 1px solid #e6eaef;
    background-color: white;
}

.small-grids-div-1,
.main-grids-div-1 {
    padding: 0;
}

.main-grids-and-control {
    width: 100%;
    margin-bottom: 20px !important;
    margin: auto;
    padding: 8px;
    border-bottom: 5px solid #dcdfe2;
    border-right: 5px solid #dcdfe2;
    border-left: 1px solid #e6eaef;
    border-radius: 2px;
    border-top: 1px solid #e6eaef;
    background-color: white;
}
.main-grids-row {
    margin: 0;
}
.paging-size-control {
    position: absolute;
    bottom: 7px;
    font-weight: bolder !important;
    color: rgba(0, 0, 0, 0.54);
    font: 400 12px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}


/*  */

.form-div {
    align-items: center;
    width: 100%;
    margin: auto;
    border-bottom: 5px solid #dcdfe2;
    border-right: 5px solid #dcdfe2;
    border-left: 1px solid #e6eaef;
    border-radius: 2px;
    border-top: 1px solid #e6eaef;
    margin-bottom: 7px;
    background-color: white;
}
.btns-row {
    margin-bottom: 8px;
    margin-top: 8px;
    text-align: right;
    margin-right: 8px;
    padding-left: 0px;
}
.btns-row-inner {
    padding-left: 0px;
    padding-right: 0px;
}
.btns-row-reset {
    padding: 3px;
    font-size: 16px;
    width: 55px;
    cursor: pointer;
}
.btns-row-unGroupContra {
    padding: 3px;
    font-size: 16px;
    width: 135px;
    cursor: pointer;
    margin-right: 8px;
}
